{% extends "layout.html" %}
{% block content %}
<section class="section">
    <header class="block has-text-centered">
        <h1 class="title is-1">{{ _("Join BookWyrm") }}</h1>
        <p class="subtitle">{{ _("A Network of Small, Self-Directed Communities") }}</p>
    </header>
</section>

<section class="section p-5">
    <div class="block content">
        <p>
            {{ _("Instead of one huge BookWyrm site, there are many instances of BookWyrm which can interact seamlessly with one another. You can have the benefits of small community you trust, while still interacting with a large network of interesting new people (when you want to).")}}
        </p>
        <p>
            {{ _("This means there isn't just one place to sign up! You can select an instance that sounds like a good fit for your interests, or just try one at random &mdash; they're all very nice.") }}
        </p>
    </div>

    <div class="block columns is-multiline">
        {% for instance in instances %}
        {% if not instance.skip %}
        <div class="column is-6">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                  <a href="{{ instance.path }}">{{ instance.name }}</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <img src="{{ instance.logo }}" alt="">
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <p class="is-flex-grow-1">{{ instance.description }}</p>
                          <div>
                              {% if instance.open_registration %}
                                  <a href="{{ instance.path }}" class="button is-success is-rounded is-multiline">{{ _("Join instance") }}</a>
                              {% else %}
                                  <a href="{{ instance.path }}" class="button is-link is-rounded is-multiline">{{ _("Request Invite") }}</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item">{{ instance.users }} {{ _("users") }}</span>
                    <span class="card-footer-item">{% if instance.open_registration %}{{ _("Open registration") }}{% else %}{{ _("Registration by request")}}{% endif %}</span>
                    <a href="{{ instance.path }}about" class="card-footer-item">{{ _("Learn More")}}</a>
                </footer>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
